# Capstone Project:The Battle of Neighborhoods

## 1) Background

I want to go back to my home town Toyota-city. My wife's dream is to open a resturant.  
So to go back my home town, I should show the potential of Toyota-city for new resturant.

## 2) Problem

The idea of this study is to show the potential of Toyota-city for new resturant by providing data about the income and population of each neighborhood as well as the competitors in the same regions.

## 3) Data

In [107]:
import pandas as pd
import numpy as np
import urllib.request, urllib.error
import xml.etree.ElementTree

In [108]:
df = pd.read_csv("KEN_ALL_ROME.CSV")
df.head(10)

   Postcode Prefecture                 City                        Area
0    600000   HOKKAIDO  SAPPORO SHI CHUO KU        IKANIKEISAIGANAIBAAI
1    640941   HOKKAIDO  SAPPORO SHI CHUO KU                  ASAHIGAOKA
2    600041   HOKKAIDO  SAPPORO SHI CHUO KU                ODORIHIGASHI
3    600042   HOKKAIDO  SAPPORO SHI CHUO KU      ODORINISHI(1-19-CHOME)
4    640820   HOKKAIDO  SAPPORO SHI CHUO KU     ODORINISHI(20-28-CHOME)
5    600031   HOKKAIDO  SAPPORO SHI CHUO KU             KITA1-JOHIGASHI
6    600001   HOKKAIDO  SAPPORO SHI CHUO KU   KITA1-JONISHI(1-19-CHOME)
7    640821   HOKKAIDO  SAPPORO SHI CHUO KU  KITA1-JONISHI(20-28-CHOME)
8    600032   HOKKAIDO  SAPPORO SHI CHUO KU             KITA2-JOHIGASHI
9    600002   HOKKAIDO  SAPPORO SHI CHUO KU   KITA2-JONISHI(1-19-CHOME)

In [112]:
df = df[df['City'] == 'TOYOTA SHI'].reset_index()
df = df[['Postcode', 'Prefecture', 'City', 'Area']]
df.head()

   Postcode Prefecture        City                  Area
0   4710000  AICHI KEN  TOYOTA SHI  IKANIKEISAIGANAIBAAI
1   4710052  AICHI KEN  TOYOTA SHI             AIZUMACHO
2   4700335  AICHI KEN  TOYOTA SHI               AOKICHO
3   4710873  AICHI KEN  TOYOTA SHI              AKIBACHO
4   4710835  AICHI KEN  TOYOTA SHI            AKEBONOCHO

In [114]:
API_URL = 'http://geoapi.heartrails.com/api/xml?method=searchByPostal&postal='
lat_long = []

def geo(zip_code):
    zip = str(zip_code)
    response = urllib.request.urlopen(API_URL + zip)
    xml_result = response.read()
    response.close()
    elem = xml.etree.ElementTree.fromstring(xml_result)
    lat = elem.findtext(".//x")
    long = elem.findtext(".//y")
    data = [zip_code, lat, long]
    return data

for i in range(len(df)):
    lat_long.append(geo(df.Postcode[i])

df_lat_long = pd.DataFrame(lat_long, columns=['Postcode', 'Latitude', 'Longuitude'])  
#df_lat_long.head()

SyntaxError: invalid syntax (<ipython-input-114-2104927d5a19>, line 18)

In [98]:
df = pd.merge(df, df_lat_long, on='Postcode')

ValueError: You are trying to merge on int64 and object columns. If you wish to proceed you should use pd.concat