# Week3 assignment

#### Import pandas

In [118]:
import pandas as pd

#### import HTML data by pandas read_html method.

In [119]:
data = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df = pd.DataFrame(data[0])
df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

#### ignore cells without Borough.

In [120]:
df = df[df['Borough'] != 'Not assigned'].reset_index()
df = df[['Postcode','Borough','Neighbourhood']]
df.head()

  Postcode           Borough     Neighbourhood
0      M3A        North York         Parkwoods
1      M4A        North York  Victoria Village
2      M5A  Downtown Toronto      Harbourfront
3      M5A  Downtown Toronto       Regent Park
4      M6A        North York  Lawrence Heights

#### check the value of Neighbourhood.
#### if it is 'Not assigned' add Borough.

In [121]:
for i in range(len(df)):
    if df.Neighbourhood[i] == 'Not assigned':
        df.Neighbourhood[i] = df.Borough[i]
        print(df.Neighbourhood[i])

Queen's Park

#### combine in Neighbours with the same Postcode to one row with the neighborhoods separated with a comma.

In [122]:
df2 = df.groupby('Postcode').Neighbourhood.apply(lambda s : ','.join(s))
df2 = pd.DataFrame(df2)
df2.head(10)

                                          Neighbourhood
Postcode
M1B                                       Rouge,Malvern
M1C                Highland Creek,Rouge Hill,Port Union
M1E                     Guildwood,Morningside,West Hill
M1G                                              Woburn
M1H                                           Cedarbrae
M1J                                 Scarborough Village
M1K           East Birchmount Park,Ionview,Kennedy Park
M1L                       Clairlea,Golden Mile,Oakridge
M1M       Cliffcrest,Cliffside,Scarborough Village West
M1N                          Birch Cliff,Cliffside West

In [123]:
df3 = df[['Postcode','Borough']]
df3.head()

  Postcode           Borough
0      M3A        North York
1      M4A        North York
2      M5A  Downtown Toronto
3      M5A  Downtown Toronto
4      M6A        North York

In [127]:
df = pd.merge(df3, df2, on='Postcode').drop_duplicates()
df.head()

  Postcode           Borough                    Neighbourhood
0      M3A        North York                        Parkwoods
1      M4A        North York                 Victoria Village
2      M5A  Downtown Toronto         Harbourfront,Regent Park
4      M6A        North York  Lawrence Heights,Lawrence Manor
6      M7A      Queen's Park                     Queen's Park

#### check the shape of dataframe.

In [129]:
df.shape

(103, 3)