# Capstone Project:The Battle of Neighborhoods (Week 2)

## Table of contents
* [Background](#Background)
* [Problem](#Probulem) 
* [Data](#data)
* [Methodology](#methodology)
* [Analysis](#analysis)
* [Results and Discussion](#results)
* [Conclusion](#conclusion)

## 1) Background<a name="Background"></a>

I want to go back to my home town Toyota-city.  
However my wife was born in another area in Aichi, she is hesitating to go to Toyota-city.  
To overcome the situation I am planing to satisfy her dream by go back to Toyota-city.  
My wife's dream is to open a resturant.  
So showing the potential of Toyota-city for new resturant in this project.

## 2) Problem<a name="Problem"></a>

The idea of this study is to show which part of Toyota-city is the best for new resturant by providing data about:  
potential customers from population derived from population distribution. 
competitors in the same regions.

## 3) Data<a name="Data"></a>

For the study, population and resturant data in accordance with geographic information are needed.  
We can download population vs area name of Toyota-city from the URL below.

https://www.city.toyota.aichi.jp/_res/projects/default_project/_page_/001/004/759/h29/01.xls

Also we can download postcode list from the URL below.

https://www.post.japanpost.jp/zipcode/dl/roman-zip.html

Above two data can be linked by using area name and can be used to obtain geographic information(latitude & longitude) vs population.
In paticular, I used below API to get geographic information from postcode.

'http://geoapi.heartrails.com/api/xml?method=searchByPostal&postal='

Also we can get the resturant information by Foursquare API.
This resulting in linked data among geographic information, population and competiters for new resturant.

### Post code and area name of Toyota-city

In [2]:
import pandas as pd
import numpy as np
import urllib.request, urllib.error
import xml.etree.ElementTree
import requests

In [3]:
df = pd.read_csv("KEN_ALL_ROME.CSV", encoding='cp932')
df.head(10)

,Postcode,PrefJP,BoroughJP,AreaJP,Pref,Borough,Area
0,600000,北海道,札幌市 中央区,以下に掲載がない場合,HOKKAIDO,SAPPORO SHI CHUO KU,IKANIKEISAIGANAIBAAI
1,640941,北海道,札幌市 中央区,旭ケ丘,HOKKAIDO,SAPPORO SHI CHUO KU,ASAHIGAOKA
2,600041,北海道,札幌市 中央区,大通東,HOKKAIDO,SAPPORO SHI CHUO KU,ODORIHIGASHI
3,600042,北海道,札幌市 中央区,大通西（１～１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,ODORINISHI(1-19-CHOME)
4,640820,北海道,札幌市 中央区,大通西（２０～２８丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,ODORINISHI(20-28-CHOME)
5,600031,北海道,札幌市 中央区,北一条東,HOKKAIDO,SAPPORO SHI CHUO KU,KITA1-JOHIGASHI
6,600001,北海道,札幌市 中央区,北一条西（１～１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,KITA1-JONISHI(1-19-CHOME)
7,640821,北海道,札幌市 中央区,北一条西（２０～２８丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,KITA1-JONISHI(20-28-CHOME)
8,600032,北海道,札幌市 中央区,北二条東,HOKKAIDO,SAPPORO SHI CHUO KU,KITA2-JOHIGASHI
9,600002,北海道,札幌市 中央区,北二条西（１～１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,KITA2-JONISHI(1-19-CHOME)

In [4]:
df = df[df['Borough'] == 'TOYOTA SHI'].reset_index()
df = df[['Postcode', 'AreaJP', 'Pref', 'Borough', 'Area']]
df.AreaJP.astype(str)
df.head()

   Postcode      AreaJP       Pref     Borough                  Area
0   4710000  以下に掲載がない場合  AICHI KEN  TOYOTA SHI  IKANIKEISAIGANAIBAAI
1   4710052         逢妻町  AICHI KEN  TOYOTA SHI             AIZUMACHO
2   4700335         青木町  AICHI KEN  TOYOTA SHI               AOKICHO
3   4710873         秋葉町  AICHI KEN  TOYOTA SHI              AKIBACHO
4   4710835          曙町  AICHI KEN  TOYOTA SHI            AKEBONOCHO

### Area name and population of Toyota-city

In [5]:
df_pop = pd.read_csv("01.csv", encoding='cp932')
#df_pop.AreaJP.astype(str)
df_pop.head()

  AreaJP Population
0    逢妻町        684
1    秋葉町      1,906
2     曙町      1,055
3   朝日ケ丘      2,560
4    朝日町      3,759

In [6]:
df = pd.merge(df, df_pop,on='AreaJP', how='inner')
df.head()

   Postcode AreaJP       Pref     Borough        Area Population
0   4710052    逢妻町  AICHI KEN  TOYOTA SHI   AIZUMACHO        684
1   4700335    青木町  AICHI KEN  TOYOTA SHI     AOKICHO      4,527
2   4710873    秋葉町  AICHI KEN  TOYOTA SHI    AKIBACHO      1,906
3   4710835     曙町  AICHI KEN  TOYOTA SHI  AKEBONOCHO      1,055
4   4442832    浅谷町  AICHI KEN  TOYOTA SHI   AZAKAICHO        157

### Geographical data download

In [7]:
lat_long = []

def geo(zip_code, API_URL):
    zip = str(zip_code)
    response = urllib.request.urlopen(API_URL + zip)
    xml_result = response.read()
    response.close()
    elem = xml.etree.ElementTree.fromstring(xml_result)
    long = elem.findtext(".//x")
    lat = elem.findtext(".//y")
    data = [zip_code, lat, long]
    return data

URL = 'http://geoapi.heartrails.com/api/xml?method=searchByPostal&postal='

for i in range(len(df)):
    lat_long.append(geo(df.Postcode[i], URL))

df_lat_long = pd.DataFrame(lat_long, columns=['Postcode', 'Latitude', 'Longitude'])  
df_lat_long.head()

   Postcode   Latitude   Longitude
0   4710052  35.104364  137.139678
1   4700335  35.123342  137.185037
2   4710873  35.063098  137.165974
3   4710835   35.05884  137.133589
4   4442832  35.244875  137.372781

In [8]:
df = pd.merge(df, df_lat_long, on='Postcode')
df.head()

,Postcode,AreaJP,Pref,Borough,Area,Population,Latitude,Longitude
0,4710052,逢妻町,AICHI KEN,TOYOTA SHI,AIZUMACHO,684,35.104364,137.139678
1,4700335,青木町,AICHI KEN,TOYOTA SHI,AOKICHO,"4,527",35.123342,137.185037
2,4710873,秋葉町,AICHI KEN,TOYOTA SHI,AKIBACHO,"1,906",35.063098,137.165974
3,4710835,曙町,AICHI KEN,TOYOTA SHI,AKEBONOCHO,"1,055",35.05884,137.133589
4,4442832,浅谷町,AICHI KEN,TOYOTA SHI,AZAKAICHO,157,35.244875,137.372781

In [9]:
df = df[['Postcode', 'Area', 'Population', 'Latitude', 'Longitude']]
df.head()

   Postcode        Area Population   Latitude   Longitude
0   4710052   AIZUMACHO        684  35.104364  137.139678
1   4700335     AOKICHO      4,527  35.123342  137.185037
2   4710873    AKIBACHO      1,906  35.063098  137.165974
3   4710835  AKEBONOCHO      1,055   35.05884  137.133589
4   4442832   AZAKAICHO        157  35.244875  137.372781

### Foursquare API

In [13]:
#Input ID, Secret, version, limit, query and radius
CLIENT_ID = '' # your Foursquare ID
CLIENT_SECRET = '' # your Foursquare Secret
VERSION = '20180604'
LIMIT = 30
query = 'レストラン'
radius = 1000

In [12]:
spot_list = []

for i in range(10):
    #set each place latitude&longitude
    latitude = df.Latitude[i]
    longitude = df.Longitude[i]
    
    #set URL
    url = 'https://api.foursquare.com/v2/venues/search?client_id={}&client_secret={}&ll={},{}&v={}&query={}&radius={}&limit={}'.format(CLIENT_ID, CLIENT_SECRET, latitude, longitude, VERSION, query, radius, LIMIT)
    
    #get results
    results = requests.get(url).json()["response"][0]['items']
    
    
    venues_list.append([(
            df.Area[i], 
            latitude, 
            lngitude, 
            v['venue']['name'], 
            v['venue']['location']['lat'], 
            v['venue']['location']['lng'],  
            v['venue']['categories'][0]['name']) for v in results])

KeyError: 0

{'meta': {'code': 200, 'requestId': '5d8b5ae592e7a9002c3a05bc'},
 'response': {'venues': [{'id': '581ea564fb482d7efa354480',
    'name': 'カフェレストラン こうらん亭',
    'location': {'lat': 35.132159,
     'lng': 137.312636,
     'labeledLatLngs': [{'label': 'display',
       'lat': 35.132159,
       'lng': 137.312636}],
     'distance': 657,
     'cc': 'JP',
     'country': '日本',
     'formattedAddress': ['日本']},
    'categories': [{'id': '4bf58dd8d48988d16d941735',
      'name': 'Café',
      'pluralName': 'Cafés',
      'shortName': 'Café',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1569413861',
    'hasPerk': False},
   {'id': '4cf46cdc8333224b7f011b8e',
    'name': 'レストラン常',
    'location': {'lat': 35.13913111240994,
     'lng': 137.24553850078354,
     'labeledLatLngs': [{'label': 'display',
       'lat': 35.13913111240994,
       'lng': 137.24553850078354}],
     'distance': 6707,
     'cc': 'JP',
     'city': '豊田市',
     'state': '愛知県',
     'country': '日本',
     'formattedAddress': ['豊田市, 愛知県', '日本']},
    'categories': [{'id': '4bf58dd8d48988d147941735',
      'name': 'Diner',
      'pluralName': 'Diners',
      'shortName': 'Diner',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1569413861',
    'hasPerk': False},
   {'id': '53856f1b498edc5f92e3567a',
    'name': 'レストラン紅葉',
    'location': {'lat': 35.16987609863281,
     'lng': 137.40664672851562,
     'labeledLatLngs': [{'label': 'display',
       'lat': 35.16987609863281,
       'lng': 137.40664672851562}],
     'distance': 8874,
     'cc': 'JP',
     'country': '日本',
     'formattedAddress': ['日本']},
    'categories': [{'id': '4bf58dd8d48988d1c4941735',
      'name': 'Restaurant',
      'pluralName': 'Restaurants',
      'shortName': 'Restaurant',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1569413861',
    'hasPerk': False},
   {'id': '522aac0d11d2348a1daf846e',
    'name': 'レストラン力石',
    'location': {'lat': 35.14061347841035,
     'lng': 137.2217226595734,
     'labeledLatLngs': [{'label': 'display',
       'lat': 35.14061347841035,
       'lng': 137.2217226595734}],
     'distance': 8881,
     'cc': 'JP',
     'city': '豊田市',
     'state': '愛知県',
     'country': '日本',
     'formattedAddress': ['豊田市, 愛知県', '日本']},
    'categories': [{'id': '4bf58dd8d48988d147941735',
      'name': 'Diner',
      'pluralName': 'Diners',
      'shortName': 'Diner',
      'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/diner_',
       'suffix': '.png'},
      'primary': True}],
    'referralId': 'v-1569413861',
    'hasPerk': False}]}}