# Capstone Project:The Battle of Neighborhoods

## 1) Background

I want to go back to my home town Toyota-city.  
However my wife was born in another area in Aichi, she is hesitating to go to Toyota-city.  
To overcome the situation I am planing to satisfy her dream by go back to Toyota-city.  
My wife's dream is to open a resturant.  
So showing the potential of Toyota-city for new resturant in this project.

## 2) Problem

The idea of this study is to show which part of Toyota-city is the best for new resturant by providing data about:  
potential customers from population derived from population distribution. 
competitors in the same regions.

## 3) Data

For the study, population and resturant data in accordance with geographic information are needed.  
We can download population vs area name of Toyota-city from the URL below.

https://www.city.toyota.aichi.jp/_res/projects/default_project/_page_/001/004/759/h29/01.xls

Also we can download postcode list from the URL below.

https://www.post.japanpost.jp/zipcode/dl/roman-zip.html

Above two data can be linked by using area name and can be used to obtain geographic information(latitude & longitude) vs population.
In paticular, I used below API to get geographic information from postcode.

'http://geoapi.heartrails.com/api/xml?method=searchByPostal&postal='

Also we can get the resturant information by Foursquare API.
This resulting in linked data among geographic information, population and competiters for new resturant.

In [28]:
import pandas as pd
import numpy as np
import urllib.request, urllib.error
import xml.etree.ElementTree

In [29]:
df = pd.read_csv("KEN_ALL_ROME.CSV", encoding='cp932')
df.head(10)

,Postcode,PrefJP,BoroughJP,AreaJP,Pref,Borough,Area
0,600000,北海道,札幌市 中央区,以下に掲載がない場合,HOKKAIDO,SAPPORO SHI CHUO KU,IKANIKEISAIGANAIBAAI
1,640941,北海道,札幌市 中央区,旭ケ丘,HOKKAIDO,SAPPORO SHI CHUO KU,ASAHIGAOKA
2,600041,北海道,札幌市 中央区,大通東,HOKKAIDO,SAPPORO SHI CHUO KU,ODORIHIGASHI
3,600042,北海道,札幌市 中央区,大通西（１～１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,ODORINISHI(1-19-CHOME)
4,640820,北海道,札幌市 中央区,大通西（２０～２８丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,ODORINISHI(20-28-CHOME)
5,600031,北海道,札幌市 中央区,北一条東,HOKKAIDO,SAPPORO SHI CHUO KU,KITA1-JOHIGASHI
6,600001,北海道,札幌市 中央区,北一条西（１～１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,KITA1-JONISHI(1-19-CHOME)
7,640821,北海道,札幌市 中央区,北一条西（２０～２８丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,KITA1-JONISHI(20-28-CHOME)
8,600032,北海道,札幌市 中央区,北二条東,HOKKAIDO,SAPPORO SHI CHUO KU,KITA2-JOHIGASHI
9,600002,北海道,札幌市 中央区,北二条西（１～１９丁目）,HOKKAIDO,SAPPORO SHI CHUO KU,KITA2-JONISHI(1-19-CHOME)

In [30]:
df = df[df['Borough'] == 'TOYOTA SHI'].reset_index()
df = df[['Postcode', 'AreaJP', 'Pref', 'Borough', 'Area']]
df.AreaJP.astype(str)
df.head()

   Postcode      AreaJP       Pref     Borough                  Area
0   4710000  以下に掲載がない場合  AICHI KEN  TOYOTA SHI  IKANIKEISAIGANAIBAAI
1   4710052         逢妻町  AICHI KEN  TOYOTA SHI             AIZUMACHO
2   4700335         青木町  AICHI KEN  TOYOTA SHI               AOKICHO
3   4710873         秋葉町  AICHI KEN  TOYOTA SHI              AKIBACHO
4   4710835          曙町  AICHI KEN  TOYOTA SHI            AKEBONOCHO

In [34]:
df_pop = pd.read_csv("01.csv", encoding='cp932')
#df_pop.AreaJP.astype(str)
df_pop.head()
print(df.dtypes)
print(df_pop.dtypes)

Postcode     int64
AreaJP      object
Pref        object
Borough     object
Area        object
dtype: object
AreaJP        object
Population    object
dtype: object

In [35]:
df = pd.merge(df, df_pop,on='AreaJP', how='inner')
df.head()

   Postcode AreaJP       Pref     Borough        Area Population
0   4710052    逢妻町  AICHI KEN  TOYOTA SHI   AIZUMACHO        684
1   4700335    青木町  AICHI KEN  TOYOTA SHI     AOKICHO      4,527
2   4710873    秋葉町  AICHI KEN  TOYOTA SHI    AKIBACHO      1,906
3   4710835     曙町  AICHI KEN  TOYOTA SHI  AKEBONOCHO      1,055
4   4442832    浅谷町  AICHI KEN  TOYOTA SHI   AZAKAICHO        157

In [36]:
lat_long = []

def geo(zip_code, API_URL):
    zip = str(zip_code)
    response = urllib.request.urlopen(API_URL + zip)
    xml_result = response.read()
    response.close()
    elem = xml.etree.ElementTree.fromstring(xml_result)
    lat = elem.findtext(".//x")
    long = elem.findtext(".//y")
    data = [zip_code, lat, long]
    return data

URL = 'http://geoapi.heartrails.com/api/xml?method=searchByPostal&postal='

for i in range(len(df)):
    lat_long.append(geo(df.Postcode[i], URL))

df_lat_long = pd.DataFrame(lat_long, columns=['Postcode', 'Latitude', 'Longuitude'])  
df_lat_long.head()

   Postcode    Latitude Longuitude
0   4710052  137.139678  35.104364
1   4700335  137.185037  35.123342
2   4710873  137.165974  35.063098
3   4710835  137.133589   35.05884
4   4442832  137.372781  35.244875

In [37]:
df = pd.merge(df, df_lat_long, on='Postcode')
df.head()

,Postcode,AreaJP,Pref,Borough,Area,Population,Latitude,Longuitude
0,4710052,逢妻町,AICHI KEN,TOYOTA SHI,AIZUMACHO,684,137.139678,35.104364
1,4700335,青木町,AICHI KEN,TOYOTA SHI,AOKICHO,"4,527",137.185037,35.123342
2,4710873,秋葉町,AICHI KEN,TOYOTA SHI,AKIBACHO,"1,906",137.165974,35.063098
3,4710835,曙町,AICHI KEN,TOYOTA SHI,AKEBONOCHO,"1,055",137.133589,35.05884
4,4442832,浅谷町,AICHI KEN,TOYOTA SHI,AZAKAICHO,157,137.372781,35.244875

In [38]:
df = df[['Postcode', 'Area', 'Population', 'Latitude', 'Longuitude']]
df.head()

   Postcode        Area Population    Latitude Longuitude
0   4710052   AIZUMACHO        684  137.139678  35.104364
1   4700335     AOKICHO      4,527  137.185037  35.123342
2   4710873    AKIBACHO      1,906  137.165974  35.063098
3   4710835  AKEBONOCHO      1,055  137.133589   35.05884
4   4442832   AZAKAICHO        157  137.372781  35.244875